<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus_tracking_app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bus_Tracking_App">
        <activity
            android:name=".flashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDm2J6xGFAM2yi-FXrOQc2Cx42jSE7log0" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".drivermodule"
            android:exported="false" />
        <activity
            android:name=".businfo"
            android:exported="false" />
        <activity
            android:name=".personaldetails"
            android:exported="false" />
        <activity
            android:name=".bus_details"
            android:exported="false" />
        <activity
            android:name=".Sign_Up"
            android:exported="false" />
        <activity
            android:name=".Home_Page"
            android:exported="false" />
        <activity
            android:name=".Sign_In"
            android:exported="false"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>